@charset "UTF-8";

/* 
    Telas pequenas: Até 600px
    Celular: 600px - 768px
    Tablet: 768px - 992px
    PC: 992px - 1200px
    Telas grandes: 1200px +
*/

/* Version for Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body, main {
        background: linear-gradient(to top, #5f2c82, #49a09d) no-repeat fixed;
    }

    #login {
        flex-direction: row;
        align-items: center;
        width: 80vw;
    }

    #login > #img {
        width: 50vw;
        height: 80vh;
    }

    #login > #form {
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    #login > #form > p, label {
        font-size: 1.1rem;
    }

    #form > h1 {
        font-size: 2.5rem;
    }

}

@media screen and (min-width: 992px) {
    body, main {
        background: linear-gradient(to top, #5f2c82, #49a09d) no-repeat fixed;
    }

    #login {
        width: 992px;
        flex-direction: row;

    }

    #login > #img {
        width: 100%;
        min-height: 80vh;
    }

    #login > #form {
        justify-content: center;
        align-items: center;
    }

    #form > h1 {
        font-size: 2.5rem;
    }

    #form > p, label {
        font-size: 1.1rem;
    }
}